<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/users']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!userForm.get('name').valid && userForm.get('name').touched">Please enter User Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Type" formControlName="type"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!userForm.get('type').valid && userForm.get('type').touched">Please enter User Type</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!userForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>